$desatDarkCyan: hsl(180, 29%, 50%);
$backgroundCyan: hsl(180, 52%, 96%);
$filterTabCyan: hsl(180, 31%, 95%);
$darkGrayCyan: hsl(180, 8%, 52%);
$vDarkGrayCyan: hsl(180, 14%, 20%);

body {
  background-color: $backgroundCyan;
}

.card {
  background-color: white;
  margin: 3rem 2rem;
  padding: 2rem 1rem;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  position: relative;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#top {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#new {
  color: white;
  background-color: $desatDarkCyan;
  padding: 0.5rem;
  border-radius: 0.75rem;
  font-size: small;
}

#featured {
  font-size: small;
  color: white;
  background-color: $vDarkGrayCyan;
  padding: 0.5rem;
  border-radius: 0.75rem;
}

.featured {
  border-left: 5px solid $desatDarkCyan;
}

#logo {
  width: 50px;
  position: absolute;
  top: -25px;
}

#company {
  font-weight: 700;
  color: $desatDarkCyan;
}
#position {
  font-weight: 700;
  color: $vDarkGrayCyan;
}

.info {
  list-style-type: disc;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: $darkGrayCyan;
}
li:first-child {
  list-style-type: none;
}

.tags {
  list-style-type: none;
  color: $desatDarkCyan;
  font-weight: 700;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;

  li {
    display: inline;
    background-color: $backgroundCyan;
    // margin: 0.5rem;
    padding: 0.5rem;
    height: 2rem;
  }
}

#cardTags:hover {
  cursor: pointer;
  background-color: $desatDarkCyan;
  color: $filterTabCyan;
}

@media (min-width: 768px) {
  hr {
    display: none;
  }
  #logo {
    position: static;
    width: 90px;
  }
  .card {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
  }
}
